[user]
	email = joe@oampo.co.uk
	name = Joe Turner

[sendemail]
	smtpencryption = tls
	smtpserver = /usr/bin/msmtp
	smtpuser = orphansandoligarchs@gmail.com
	smtpserverport = 587
[core]
	excludesfile = /home/joe/.gitignore
